<h2 class="block__title block-title">Menu</h2>

<ul>
  <li><a href="{{ site.baseurl }}/" title="Start page">Home</a></li>
  <li><a href="{{ site.baseurl }}/what_is_matroska.html" title="What is Matroska?">What is Matroska?</a></li>
  <li>Downloads
    <ul>
      <li><a href="{{ site.baseurl }}/downloads/mkclean.html" title="mkclean">mkclean</a></li>
      <li><a href="{{ site.baseurl }}/downloads/mkvalidator.html" title="mkvalidator">mkvalidator</a></li>
      <li><a href="{{ site.baseurl }}/downloads/libraries.html" title="libraries">libraries</a></li>
      <li><a href="{{ site.baseurl }}/downloads/mkvtoolnix.html" title="MKVToolNix">MKVToolNix</a></li>
      <li><a href="{{ site.baseurl }}/downloads/third_party.html" title="Third-party applications">Third-party applications</a></li>
      <li><a href="{{ site.baseurl }}/downloads/test_suite.html" title="Test suite">Test suite</a></li>
    </ul>
  </li>
  <li><a href="{{ site.baseurl }}/source_code_repositories.html" title="Source code repositories">Source code repositories</a></li>
  <li><a href="{{ site.baseurl }}/faq.html" title="FAQ">FAQ</a></li>

  <li><a href="{{ site.baseurl }}/index.html" title="Technical Details">Technical / Info</a>
    <ul>
      <li><a href="{{ site.baseurl }}/technical/basics.html" title="Basics">Basics</a></li>
      <li><a href="{{ site.baseurl }}/technical/diagram.html" title="Data Layout">Data Layout</a></li>
      <li><a href="{{ site.baseurl }}/technical/elements.html" title="Element Specifications">Element Specifications</a></li>
      <li><a href="{{ site.baseurl }}/technical/notes.html" title="Specification Notes">Specification Notes</a></li>
      <li><a href="{{ site.baseurl }}/technical/ordering.html" title="EBML Element Ordering">Element Ordering</a></li>
      <li><a href="{{ site.baseurl }}/technical/chapters.html" title="Chapter Specifications">Chapters</a></li>
      <li><a href="{{ site.baseurl }}/technical/menu.html" title="Menu Specifications">Menu</a></li>
      <li><a href="{{ site.baseurl }}/technical/chapter_codecs.html" title="Chapter Codecs">Chapter Codecs</a></li>
      <li><a href="{{ site.baseurl }}/technical/attachments.html" title="Attachments">Attachments</a></li>
      <li><a href="{{ site.baseurl }}/technical/cues.html" title="Cues">Cues</a></li>
      <li><a href="{{ site.baseurl }}/technical/streaming.html" title="Matroska Streaming">Streaming</a></li>
      <li><a href="{{ site.baseurl }}/technical/codec_specs.html" title="Codec Mapping">Codec Mapping</a></li>
      <li><a href="{{ site.baseurl }}/technical/subtitles.html" title="Subtitles">Subtitles</a></li>
      <li><a href="{{ site.baseurl }}/technical/block_additional_mappings.html" title="Block Additional Mappings">Block Additional Mappings</a></li>
      <li>
        <a href="{{ site.baseurl }}/technical/tagging.html" title="Tag Specifications">Tags</a>
        <ul>
          <li><a href="{{ site.baseurl }}/technical/tagging-audio-example.html" title="Audio Tags Example">Audio Examples</a></li>
          <li><a href="{{ site.baseurl }}/technical/tagging-video-example.html" title="Video Tags Example">Video Examples</a></li>
          <li><a href="{{ site.baseurl }}/technical/tags-precedence.html" title="Tags Precedence">Tags Precedence</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/technical/matroska_implement.html" title="Implementation Recommendations">Implementation Recommendations</a></li>
      <li><a href="{{ site.baseurl }}/technical/ebml_rfc.html" title="EBML RFC">EBML RFC</a></li>
    </ul>
  </li>

  <li><a href="{{ site.baseurl }}/contributors.html" title="Contributors">Contributors</a></li>
  <li><a href="{{ site.baseurl }}/license.html" title="License">License</a></li>
  <li><a href="{{ site.baseurl }}/legal.html" title="Legal aspects">Legal aspects</a></li>
  <li><a href="{{ site.baseurl }}/logos_trademarks.html" title="Logos & trademarks">Logos & trademarks</a></li>
  <li><a href="{{ site.baseurl }}/contact.html" title="Contact">Contact</a></li>
</ul>
